---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/theodi/cid-test/branches/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1400771341'
      Etag:
      - '"415926a4f7e38db12005354bd3cf4b39"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"357b6cbb632a533bf20657975b6100a0b837b15c","commit":{"author":{"name":"ODI
        Robot","email":"odi-jenkins@users.noreply.github.com","date":"2014-05-22T14:09:55Z"},"committer":{"name":"ODI
        Robot","email":"odi-jenkins@users.noreply.github.com","date":"2014-05-22T14:09:55Z"},"message":"Updated
        datapackage.json","tree":{"sha":"f93721ec813957d3df629ddc68b3e3c1397d02de","url":"https://api.github.com/repos/theodi/cid-test/git/trees/f93721ec813957d3df629ddc68b3e3c1397d02de"},"url":"https://api.github.com/repos/theodi/cid-test/git/commits/357b6cbb632a533bf20657975b6100a0b837b15c","comment_count":0},"url":"https://api.github.com/repos/theodi/cid-test/commits/357b6cbb632a533bf20657975b6100a0b837b15c","html_url":"https://github.com/theodi/cid-test/commit/357b6cbb632a533bf20657975b6100a0b837b15c","comments_url":"https://api.github.com/repos/theodi/cid-test/commits/357b6cbb632a533bf20657975b6100a0b837b15c/comments","author":{"login":"odi-robot","id":3439860,"avatar_url":"https://avatars.githubusercontent.com/u/3439860?","gravatar_id":"b96a794974d7bd76d161ebe533f2a9d0","url":"https://api.github.com/users/odi-robot","html_url":"https://github.com/odi-robot","followers_url":"https://api.github.com/users/odi-robot/followers","following_url":"https://api.github.com/users/odi-robot/following{/other_user}","gists_url":"https://api.github.com/users/odi-robot/gists{/gist_id}","starred_url":"https://api.github.com/users/odi-robot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/odi-robot/subscriptions","organizations_url":"https://api.github.com/users/odi-robot/orgs","repos_url":"https://api.github.com/users/odi-robot/repos","events_url":"https://api.github.com/users/odi-robot/events{/privacy}","received_events_url":"https://api.github.com/users/odi-robot/received_events","type":"User","site_admin":false},"committer":{"login":"odi-robot","id":3439860,"avatar_url":"https://avatars.githubusercontent.com/u/3439860?","gravatar_id":"b96a794974d7bd76d161ebe533f2a9d0","url":"https://api.github.com/users/odi-robot","html_url":"https://github.com/odi-robot","followers_url":"https://api.github.com/users/odi-robot/followers","following_url":"https://api.github.com/users/odi-robot/following{/other_user}","gists_url":"https://api.github.com/users/odi-robot/gists{/gist_id}","starred_url":"https://api.github.com/users/odi-robot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/odi-robot/subscriptions","organizations_url":"https://api.github.com/users/odi-robot/orgs","repos_url":"https://api.github.com/users/odi-robot/repos","events_url":"https://api.github.com/users/odi-robot/events{/privacy}","received_events_url":"https://api.github.com/users/odi-robot/received_events","type":"User","site_admin":false},"parents":[{"sha":"e55df79f1a47c2175e0857ffeff1e2f84ad76071","url":"https://api.github.com/repos/theodi/cid-test/commits/e55df79f1a47c2175e0857ffeff1e2f84ad76071","html_url":"https://github.com/theodi/cid-test/commit/e55df79f1a47c2175e0857ffeff1e2f84ad76071"}]},"_links":{"self":"https://api.github.com/repos/theodi/cid-test/branches/master","html":"https://github.com/theodi/cid-test/tree/master"}}'
  recorded_at: Thu, 22 May 2014 14:10:03 GMT
recorded_with: VCR 2.4.0
