---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/theodi/cid-test?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1400771341'
      Last-Modified:
      - Thu, 22 May 2014 13:14:36 GMT
      Etag:
      - '"3fbf105ac3450cfa9074f2556dda2739"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":20057973,"name":"cid-test","full_name":"theodi/cid-test","owner":{"login":"theodi","id":2492770,"avatar_url":"https://avatars.githubusercontent.com/u/2492770?","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/theodi/cid-test","description":"A
        test repo for http://github.com/theodi/cid","fork":false,"url":"https://api.github.com/repos/theodi/cid-test","forks_url":"https://api.github.com/repos/theodi/cid-test/forks","keys_url":"https://api.github.com/repos/theodi/cid-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/theodi/cid-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/theodi/cid-test/teams","hooks_url":"https://api.github.com/repos/theodi/cid-test/hooks","issue_events_url":"https://api.github.com/repos/theodi/cid-test/issues/events{/number}","events_url":"https://api.github.com/repos/theodi/cid-test/events","assignees_url":"https://api.github.com/repos/theodi/cid-test/assignees{/user}","branches_url":"https://api.github.com/repos/theodi/cid-test/branches{/branch}","tags_url":"https://api.github.com/repos/theodi/cid-test/tags","blobs_url":"https://api.github.com/repos/theodi/cid-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/theodi/cid-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/theodi/cid-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/theodi/cid-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/theodi/cid-test/statuses/{sha}","languages_url":"https://api.github.com/repos/theodi/cid-test/languages","stargazers_url":"https://api.github.com/repos/theodi/cid-test/stargazers","contributors_url":"https://api.github.com/repos/theodi/cid-test/contributors","subscribers_url":"https://api.github.com/repos/theodi/cid-test/subscribers","subscription_url":"https://api.github.com/repos/theodi/cid-test/subscription","commits_url":"https://api.github.com/repos/theodi/cid-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/theodi/cid-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/theodi/cid-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/theodi/cid-test/issues/comments/{number}","contents_url":"https://api.github.com/repos/theodi/cid-test/contents/{+path}","compare_url":"https://api.github.com/repos/theodi/cid-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/theodi/cid-test/merges","archive_url":"https://api.github.com/repos/theodi/cid-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/theodi/cid-test/downloads","issues_url":"https://api.github.com/repos/theodi/cid-test/issues{/number}","pulls_url":"https://api.github.com/repos/theodi/cid-test/pulls{/number}","milestones_url":"https://api.github.com/repos/theodi/cid-test/milestones{/number}","notifications_url":"https://api.github.com/repos/theodi/cid-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/theodi/cid-test/labels{/name}","releases_url":"https://api.github.com/repos/theodi/cid-test/releases{/id}","created_at":"2014-05-22T11:02:18Z","updated_at":"2014-05-22T13:14:36Z","pushed_at":"2014-05-22T13:14:37Z","git_url":"git://github.com/theodi/cid-test.git","ssh_url":"git@github.com:theodi/cid-test.git","clone_url":"https://github.com/theodi/cid-test.git","svn_url":"https://github.com/theodi/cid-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true},"organization":{"login":"theodi","id":2492770,"avatar_url":"https://avatars.githubusercontent.com/u/2492770?","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":12}'
  recorded_at: Thu, 22 May 2014 14:09:07 GMT
recorded_with: VCR 2.4.0
