---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/theodi/cid-test/git/blobs?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"content":"{\n    \"name\": \"euro-elections\",\n    \"title\": \"\",\n    \"homepage\":
        \"\",\n    \"version\": \"0.1.0\",\n    \"license\": \"PDDL-1.0\",\n    \"resources\":
        [\n        {\n            \"name\": \"votes-1\",\n            \"path\": \"votes/votes-1.csv\",\n            \"format\":
        \"csv\",\n            \"mediatype\": \"text/csv\",\n            \"bytes\":
        1752,\n            \"schema\": {\n                \"fields\": [\n                    {\n                        \"name\":
        \"Poll Date\",\n                        \"type\": \"date\",\n                        \"description\":
        \"Date the poll took place\",\n                        \"format\": \"yyyy-mm-dd\"\n                    },\n                    {\n                        \"name\":
        \"Area\",\n                        \"type\": \"string\",\n                        \"description\":
        \"The name of the area which the result is for\",\n                        \"required\":
        true\n                    },\n                    {\n                        \"name\":
        \"Area Code\",\n                        \"type\": \"number\",\n                        \"description\":
        \"The Office of National Statistics code for the area\",\n                        \"pattern\":
        \"E1500000(0-9)\",\n                        \"required\": true\n                    },\n                    {\n                        \"name\":
        \"Area URL\",\n                        \"type\": \"string\",\n                        \"description\":
        \"\",\n                        \"required\": true,\n                        \"pattern\":
        \"http://statistics.data.gov.uk/doc/statistical-geography/E1500000(0-9)\"\n                    },\n                    {\n        [...]
- request:
    method: get
    uri: https://api.github.com/repos/theodi/cid-test?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1400771341'
      Last-Modified:
      - Thu, 22 May 2014 13:14:36 GMT
      Etag:
      - '"3fbf105ac3450cfa9074f2556dda2739"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":20057973,"name":"cid-test","full_name":"theodi/cid-test","owner":{"login":"theodi","id":2492770,"avatar_url":"https://avatars.githubusercontent.com/u/2492770?","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/theodi/cid-test","description":"A
        test repo for http://github.com/theodi/cid","fork":false,"url":"https://api.github.com/repos/theodi/cid-test","forks_url":"https://api.github.com/repos/theodi/cid-test/forks","keys_url":"https://api.github.com/repos/theodi/cid-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/theodi/cid-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/theodi/cid-test/teams","hooks_url":"https://api.github.com/repos/theodi/cid-test/hooks","issue_events_url":"https://api.github.com/repos/theodi/cid-test/issues/events{/number}","events_url":"https://api.github.com/repos/theodi/cid-test/events","assignees_url":"https://api.github.com/repos/theodi/cid-test/assignees{/user}","branches_url":"https://api.github.com/repos/theodi/cid-test/branches{/branch}","tags_url":"https://api.github.com/repos/theodi/cid-test/tags","blobs_url":"https://api.github.com/repos/theodi/cid-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/theodi/cid-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/theodi/cid-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/theodi/cid-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/theodi/cid-test/statuses/{sha}","languages_url":"https://api.github.com/repos/theodi/cid-test/languages","stargazers_url":"https://api.github.com/repos/theodi/cid-test/stargazers","contributors_url":"https://api.github.com/repos/theodi/cid-test/contributors","subscribers_url":"https://api.github.com/repos/theodi/cid-test/subscribers","subscription_url":"https://api.github.com/repos/theodi/cid-test/subscription","commits_url":"https://api.github.com/repos/theodi/cid-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/theodi/cid-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/theodi/cid-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/theodi/cid-test/issues/comments/{number}","contents_url":"https://api.github.com/repos/theodi/cid-test/contents/{+path}","compare_url":"https://api.github.com/repos/theodi/cid-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/theodi/cid-test/merges","archive_url":"https://api.github.com/repos/theodi/cid-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/theodi/cid-test/downloads","issues_url":"https://api.github.com/repos/theodi/cid-test/issues{/number}","pulls_url":"https://api.github.com/repos/theodi/cid-test/pulls{/number}","milestones_url":"https://api.github.com/repos/theodi/cid-test/milestones{/number}","notifications_url":"https://api.github.com/repos/theodi/cid-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/theodi/cid-test/labels{/name}","releases_url":"https://api.github.com/repos/theodi/cid-test/releases{/id}","created_at":"2014-05-22T11:02:18Z","updated_at":"2014-05-22T13:14:36Z","pushed_at":"2014-05-22T13:14:37Z","git_url":"git://github.com/theodi/cid-test.git","ssh_url":"git@github.com:theodi/cid-test.git","clone_url":"https://github.com/theodi/cid-test.git","svn_url":"https://github.com/theodi/cid-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true},"organization":{"login":"theodi","id":2492770,"avatar_url":"https://avatars.githubusercontent.com/u/2492770?","gravatar_id":"07ab537732bae0cb3167a3bd8f42f885","url":"https://api.github.com/users/theodi","html_url":"https://github.com/theodi","followers_url":"https://api.github.com/users/theodi/followers","following_url":"https://api.github.com/users/theodi/following{/other_user}","gists_url":"https://api.github.com/users/theodi/gists{/gist_id}","starred_url":"https://api.github.com/users/theodi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/theodi/subscriptions","organizations_url":"https://api.github.com/users/theodi/orgs","repos_url":"https://api.github.com/users/theodi/repos","events_url":"https://api.github.com/users/theodi/events{/privacy}","received_events_url":"https://api.github.com/users/theodi/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":12}'
  recorded_at: Thu, 22 May 2014 14:09:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/cid-test/git/trees/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1400771341'
      Last-Modified:
      - Thu, 22 May 2014 13:14:36 GMT
      Etag:
      - '"3fbf105ac3450cfa9074f2556dda2739"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"master","url":"https://api.github.com/repos/theodi/cid-test/git/trees/master","tree":[{"mode":"100644","type":"blob","sha":"c22d8945fac6a4ce4be188002dcd09656bd85898","path":"datapackage.json","size":2473,"url":"https://api.github.com/repos/theodi/cid-test/git/blobs/c22d8945fac6a4ce4be188002dcd09656bd85898"},{"mode":"040000","type":"tree","sha":"d649696e0f04601419e691387e8c8cb8a218521e","path":"votes","url":"https://api.github.com/repos/theodi/cid-test/git/trees/d649696e0f04601419e691387e8c8cb8a218521e"}]}'
  recorded_at: Thu, 22 May 2014 14:09:58 GMT
- request:
    method: post
    uri: https://api.github.com/repos/theodi/cid-test/git/trees?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"base_tree":"master","tree":[{"path":"datapackage.json","mode":"100644","type":"blob","sha":"c22d8945fac6a4ce4be188002dcd09656bd85898"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1400771341'
      Etag:
      - '"96c4cb682a1a513097bc8fe04d0c38f4"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/cid-test/git/trees/f93721ec813957d3df629ddc68b3e3c1397d02de
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"f93721ec813957d3df629ddc68b3e3c1397d02de","url":"https://api.github.com/repos/theodi/cid-test/git/trees/f93721ec813957d3df629ddc68b3e3c1397d02de","tree":[{"mode":"100644","type":"blob","sha":"c22d8945fac6a4ce4be188002dcd09656bd85898","path":"datapackage.json","size":2473,"url":"https://api.github.com/repos/theodi/cid-test/git/blobs/c22d8945fac6a4ce4be188002dcd09656bd85898"},{"mode":"040000","type":"tree","sha":"d649696e0f04601419e691387e8c8cb8a218521e","path":"votes","url":"https://api.github.com/repos/theodi/cid-test/git/trees/d649696e0f04601419e691387e8c8cb8a218521e"}]}'
  recorded_at: Thu, 22 May 2014 14:09:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/cid-test/branches/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1400771341'
      Etag:
      - '"6ea4f47ed3c6fc9925b43d64b90ab049"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"e55df79f1a47c2175e0857ffeff1e2f84ad76071","commit":{"author":{"name":"ODI
        Robot","email":"odi-jenkins@users.noreply.github.com","date":"2014-05-22T13:14:37Z"},"committer":{"name":"ODI
        Robot","email":"odi-jenkins@users.noreply.github.com","date":"2014-05-22T13:14:37Z"},"message":"Updated
        datapackage.json","tree":{"sha":"f93721ec813957d3df629ddc68b3e3c1397d02de","url":"https://api.github.com/repos/theodi/cid-test/git/trees/f93721ec813957d3df629ddc68b3e3c1397d02de"},"url":"https://api.github.com/repos/theodi/cid-test/git/commits/e55df79f1a47c2175e0857ffeff1e2f84ad76071","comment_count":0},"url":"https://api.github.com/repos/theodi/cid-test/commits/e55df79f1a47c2175e0857ffeff1e2f84ad76071","html_url":"https://github.com/theodi/cid-test/commit/e55df79f1a47c2175e0857ffeff1e2f84ad76071","comments_url":"https://api.github.com/repos/theodi/cid-test/commits/e55df79f1a47c2175e0857ffeff1e2f84ad76071/comments","author":{"login":"odi-robot","id":3439860,"avatar_url":"https://avatars.githubusercontent.com/u/3439860?","gravatar_id":"b96a794974d7bd76d161ebe533f2a9d0","url":"https://api.gith[...]
- request:
    method: post
    uri: https://api.github.com/repos/theodi/cid-test/git/commits?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"message":"Updated datapackage.json","parents":["e55df79f1a47c2175e0857ffeff1e2f84ad76071"],"tree":"f93721ec813957d3df629ddc68b3e3c1397d02de"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
  [...]
- request:
    method: patch
    uri: https://api.github.com/repos/theodi/cid-test/git/refs/heads/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"sha":"357b6cbb632a533bf20657975b6100a0b837b15c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1400771341'
      Etag:
      - '"31ca39a3b2b3e0d0b99839163ae1e4f5"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/theodi/cid-test/git/refs/heads/master","object":{"sha":"357b6cbb632a533bf20657975b6100a0b837b15c","type":"commit","url":"https://api.github.com/repos/theodi/cid-test/git/commits/357b6cbb632a533bf20657975b6100a0b837b15c"}}'
  recorded_at: Thu, 22 May 2014 14:10:01 GMT
recorded_with: VCR 2.4.0
