---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/theodi/cid-test/git/blobs?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: ! '{"content":"new blob content","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1400765395'
      Etag:
      - ! '"3cb71254860221b3fe02e4d6afd3b069"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/cid-test/git/blobs/28b552e7359c5c3bbe947749aab70d18e3ea554b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: US-ASCII
      string: ! '{"sha":"28b552e7359c5c3bbe947749aab70d18e3ea554b","url":"https://api.github.com/repos/theodi/cid-test/git/blobs/28b552e7359c5c3bbe947749aab70d18e3ea554b"}'
  recorded_at: Thu, 22 May 2014 13:11:28 GMT
recorded_with: VCR 2.4.0
